.PostContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.SubPostContainer {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(0 0 0 /5%), -3px -3px 10px rgb(0 0 0 / 5%);

  padding: 5px;
}

.user {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.image-user_time {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.user-time {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.user-text-cir {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.text_cir {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text_cir p {
  width: 100%;
  /* margin: 0; */
  /* margin-left: 20px; */
}

.cir {
  transform: translate(20%, -30%);
  height: 40px;
  width: 25px;
  border-radius: 150px 0px 0px 150px;
  background-color: rgba(63, 210, 182, 255);
}

.image {
  height: 20%;
  width: 15%;
  margin-bottom: 42px;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.user-text-cir p:nth-child(1){
    font-size: 20px;
    color: rgb(81, 81, 81);
}

.user-text-cir p:nth-child(2){
    font-size: 11px;
    color: rgb(134, 133, 133);
}

.text_cir p:first-child{
    font-size: 14px;
    color: rgb(134, 133, 133);
}