header{
    display: flex;
    margin-left: 40px;
}

header h2{
    color: rgb(254, 162, 177);
}

.signUp_login_btn{
    display: flex;
    margin-left: 40px;
}

.signUp_login_btn button{
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px;
    border: 1.5px solid rgb(198, 198, 198);
    cursor: pointer;
}

.create_acc{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    width: 100%;
}

.create_acc h1{
    margin-left: 30px;
}

.auth-container{
    display: flex;
    /* align-items: center; */
    /* width: 100%; */
    justify-content: space-between;
}

.container-1{
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    align-items: flex-end;
}

form label{
    padding: 1rem;
    width: 95%;
}

form input{
    padding: 1rem;
    background-color: rgb(232, 230, 230);
    border: none;
    border-radius: 3px;
    width: 98%;
    outline: none;
}

.auth-btn{
    padding: 1rem;
    background-color: rgb(254, 162, 177);
    border: none;
    border-radius: 3px;
    width: 30%;
    /* margin-left: 481px; */
    color: white;
    font-weight: 800;
    cursor: pointer;
}

img{
    height: 590px;
}