.nav-div{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 100%; */
}

.underline{
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid #e3e2e2;
    width:100%;
    /* margin-top: 20px; */
}

.profileNav{
    gap: 6rem;
    margin-right: 0;
}

.profile_nav_active{
    border-top: 2px solid #e3e2e2;
    width:100%;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    color: rgb(119, 119, 119);
}

.nav_links{
    text-decoration: none;
    color: rgb(202, 200, 200);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}