#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}

@keyframes spinner-growth-shrink {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.5);
  }
}

.custom_spinner {
  width: 10px;
  height: 10px; 
  background-color: white;
  border-radius: 50%;
  /* border: 3px solid white; */
  margin-left: 8px;
  animation: spinner-growth-shrink 1.5s infinite;
}
